@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Homemade+Apple&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Homemade+Apple&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Homemade+Apple&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://fonts.googleapis.com/css?family=IBM%20Plex%20Sans:500|IBM%20Plex%20Sans:300");


body, ul, li, a {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

#logo {
  padding-left: 10px;
  width: 260px;
}

.navbar {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  transition: all ease 0.4s;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 10px 15px;
  margin-right: 20px;
  position: relative;
}

.navbar .navbar-nav li a{
  font-size: 16px;
  color: white;
}

.nav-link:not(.btn, .social-link)::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 5px;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
  background-color: #e7c118;
}

.nav-link:not(.btn):hover::after {
  width: 75%;
  left: 12%; 
}

.nav-link:not(.btn).active {
  color: #e7c118 !important;
  font-weight: bold;
}

.nav-link:not(.btn).active::after {
  content: '';
  position: absolute;
  width: 75%;
  height: 2px;
  bottom: 5px;
  left: 12%;
  background-color: #e7c118;
}

.social-link .fa-linkedin, .social-link .fa-instagram {
  color: white;
  transition: color 0.4s ease;
}

.social-link:hover .fa-linkedin {
  color: #0063c8; 
}

.social-link:hover .fa-instagram {
  color: #9c4bb9;
}

.navbar-nav .apply-link .custom-rounded, .landing3 .get-involved {
  background-color: transparent;
  color: white;
  padding: 12px 15px;
  border-radius: 90px;
  border-color: #e7c118;
  border-width: 2px;
}

.navbar-nav .apply-link .custom-rounded:hover, .landing3 .get-involved:hover {
  background-color: #e7c118;
  color: #0056b3;
}

.navbar-nav .donate-link .custom-rounded {
  background-color: #c54d6d;
  color: white;
  border-radius: 90px;
  padding: 12px 15px;
  margin-right: 0;
  border-color: #c54d6d;
  border-width: 2px;
}

.navbar-nav .donate-link .custom-rounded:hover {
  background-color: transparent;
}

.animate {
  padding: 0 !important;
  background-color: #0056b3;
  transition: background-color .5s ease 0s;
  border-bottom: none;
}

.animate .navbar, .animate .container-fluid {
  margin-right: 0;
  padding-right: 0;
  margin-left: 80px;
}

.animate #logo {
  width: 200px;
  transition: all ease 0.4s;
}

.animate .navbar-nav li a {
  font-size: 14px;
  transition: all ease 0.4s;
}

.navbar.animate .donate-link .nav-link.custom-rounded {
  background-color: #c54d6d;
  padding: 18px 20px;
  text-align: center;
  transition: background-color .5s ease 0s, color 0.5s ease 0s;
  border: none;
  border-radius: 0;
}

.animate li.donate-link a {
  color: white;
  font-size: 18px;
}

.fixed-social-links {
  position: fixed;
  right: 0;
  top: 180px; /*180px */
  transform: translateY(-50%);
  background-color: #5eb7f7;
  padding: 10px;
  z-index: 100;
}

.fixed-social-links .nav-item {
  margin: 10px 0;
}

.fixed-social-links .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 40px;
  color: white;
  margin: 0;
  padding: 0;
}

.fixed-social-links.animate {
  position: fixed;
  top: 124px; /* 124px */
}

/* General Media Query for Tablet & Mobile Screens */
@media (max-width: 992px) {
  .navbar .navbar-nav {
    flex-direction: column; 
    align-items: center; 
    text-align: center;
  }

  #logo {
    width: 180px;
  }

  .navbar-nav .apply-link,
  .navbar-nav .donate-link {
    margin: 5px 0;
  }

  .navbar-nav .apply-link .custom-rounded,
  .navbar-nav .donate-link .custom-rounded {
    padding: 10px 12px;
    font-size: 14px;
  }

  .fixed-social-links {
    top: 50%;
    right: 0;
  }
}

@media (max-width: 576px) {
  /* Further Shrink Logo for Phones */
  #logo {
    width: 150px;
  }

  .nav-link {
    padding: 8px 5px; 
    font-size: 14px; 
  }

  .fixed-social-links {
    top: 50%;
    right: 0;
  }

  .fixed-social-links .nav-link {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

footer {
  background-color: rgb(27, 34, 80);
  color: #f2f2f2;
  padding: 40px 30px;
  padding-bottom: 25px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.headquarters {
  width: 38%;
  margin-bottom: 20px;
  margin-left: 50px;
}

.certificates {
  width: 20%;
  margin-left: 100px;
  margin-bottom: 20px;
}

.other-links {
  width: 20%;
  margin-left: 40px;
  margin-bottom: 20px;
}

h4, .map-icon {
  display: inline-block;
}

.icon {
  padding-right: 10px;
}

footer h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}

footer i {
  color: #fca311;
  font-size: 18px;
}

footer h3 {
  font-size: 22px;
  color: #fca311;
  margin: 15px 0;
  font-weight: bold;
}

.certificates h3, .other-links h3 {
  color: white;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer p {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 20px;
  color: white;
  opacity: 0.8;
}

footer .bold {
  font-size: 16px;
  font-weight: bold;
  opacity: 1;
  margin-bottom: 10px;
  padding-right: 5px;
}

footer .custom-line {
  width: 50px;
  height: 2px;
  background-color: #FF6347;
  margin-bottom: 20px;
}

.footer-links {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 30px;
  color: white;
  opacity: 0.8;
}

.footer-links:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

footer .copyright {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  opacity: 0.5;
}

/* For screens up to 1024px (small tablets, large screens) */
@media (max-width: 1024px) {
  .headquarters, .certificates, .other-links {
    width: 33.33%;
    margin-left: 20px;
  }
  
  .footer-wrapper {
    justify-content: center;
  }
}

/* For screens up to 768px (tablets and smaller devices) */
@media (max-width: 768px) {
  .footer-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .headquarters, .certificates, .other-links {
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .certificates, .other-links {
    width: 48%;   
    margin-left: 0;
    margin-bottom: 20px;
  }

  footer h3 {
    font-size: 20px;
  }

  footer p {
    font-size: 14px;
    line-height: 18px;
  }

  footer .bold {
    font-size: 14px;
  }

  .footer-links {
    font-size: 14px;
  }

  .copyright {
    font-size: 13px;
  }
}

/* For screens up to 480px (mobile screens) */
@media (max-width: 480px) {
  .footer-wrapper {
    flex-direction: column;
  }

  .headquarters, .certificates, .other-links {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }

  footer h3 {
    font-size: 18px;
  }

  footer p {
    font-size: 12px;
    line-height: 16px;
  }

  footer .bold {
    font-size: 12px;
  }

  .footer-links {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }

  footer .custom-line {
    width: 40px;
  }
}

/* --------------------------------- Landing page -------------------------------------------  */

.hero {
  background: url('../images/childsmile.jpg') center/cover;
  background-position: right top;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: white;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/static/fonts/glacial-indifference.bold.otf') format('opentype');
}

.hero .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.styledText1, .styledText2 {
  color: white;
  position: absolute;
  left: 55%;
}

.styledText1 {
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-size: 30px;
  top: 30%;
  transform: rotate(-10deg);
  color: sandybrown;
  margin-bottom: 10px;
}

.styledText2 {
  font-family: 'Glacial Indifference', sans-serif;
  top: 35%;
  width: 225px;
  line-height: 1.2;
  font-size: 59px;
  margin-bottom: 20px;
  max-width: 90%;
}

.hero button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 25px;
  background-color: #0056b3;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 68%;
  left: 55%;
  margin-top: 30px;
}

.hero button:hover {
  background-color: #003f7f;
}

/* Responsive Styles */
/* Adjust for tablets */
@media (max-width: 768px) {
  .hero {
    background-position: center top;
    height: 80vh;
  }

  .styledText1 {
    font-size: 22px;
    top: 27%;
    left: 55%;
  }
  
  .styledText2 {
    font-size: 44px;
    top: 30%;
    left: 50%;
  }

  .hero button {
    font-size: 16px;
    padding: 8px 15px;
    top: 60%;
    left: 60%;
  }
}

@media (max-width: 576px) {
  .hero {
    background-position: center top;
    height: 80vh;
  }

  .styledText1 {
    font-size: 18px;
    top: 32%;
    left: 55%;
  }

  .styledText2 {
    font-size: 36px;
    top: 35%;
    left: 50%;
  }

  .hero button {
    font-size: 14px;
    padding: 6px 12px;
    top: 60%;
    left: 60%;
  }
}

/* --------------------------------- landing page 2 ------------------------------- */

.info-section {
  margin: 20px;
}

.info-section h1 {
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 48px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  color: #d55342;
}

.info-section .container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: stretch;
  flex-wrap: wrap;
}

.info-section .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.info-section .col-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  display: block;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.info-section .col button {
  flex: 1;
  text-align: left;
  padding: 20px;
  color: black;
  background-color: #f3f1ee;
  border: none;
  border-radius: 0 0 10px 10px;
}

.info-section h2 {
  text-decoration: none;
  margin-bottom: 15px;
}

.info-section h2:hover{
  cursor: pointer;
}

.info-section p {
  color: #666;
}

.info-section i {
  color: #003f7f;
  font-size: 2em;
  margin-bottom: 35px;
}

.col:hover h2 {
  color: #0063c8;
}

/* Media Queries for responsiveness */
@media (max-width: 992px) {
  .info-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .info-section .col {
    flex: 1 1 45%;
    margin-bottom: 20px;
  }

  .info-section h1 {
    font-size: 36px;
  }

  .info-section .col-image {
    max-height: 180px;
  }

  .info-section h2 {
    font-size: 20px;
  }

  .info-section p {
    font-size: 14px;
  }

  .info-section i {
    font-size: 1.8em;
  }
}

@media (max-width: 768px) {
  .info-section .col {
    flex: 1 1 100%;
  }

  .info-section h1 {
    font-size: 30px;
  }

  .info-section .col-image {
    max-height: 150px;
  }

  .info-section h2 {
    font-size: 18px;
  }

  .info-section p {
    font-size: 13px;
  }

  .info-section i {
    font-size: 1.5em;
  }

  .info-section .col button {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .info-section h1 {
    font-size: 24px;
  }

  .info-section .col-image {
    max-height: 120px;
  }

  .info-section h2 {
    font-size: 16px;
  }

  .info-section p {
    font-size: 12px;
  }

  .info-section i {
    font-size: 1.3em;
  }

  .info-section .col button {
    padding: 10px;
  }
}

/* ---------------------------------- landing page 3 -----------------------------*/

.landing3 {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 0;
  height: 675px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing3 .container {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing3 .row {
  height: 100%;
}

.landing3 .col-first, .landing3 .col-second {
  width: 50%;
  float: left;
}

.landing3 .col-first {
  padding: 30px;
}

.landing3 .small-image, .landing3 .large-image {
  border-radius: 10px;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
}

.landing3 .large-image {
  width: 450px;
  position: absolute;
  top: 20px;
  left: 50px;
}

.landing3 .small-image {
  width: 300px;
  position: absolute;
  bottom: 60px;
  right: 60px;
}

.landing3 .col-second {
  background-color: #254151;
  text-align: center;
  justify-content: center;
  padding: 30px;
  padding-top: 20px;
}

.landing3 .col-second .inner-container {
  max-width: 475px;
  margin: 10px auto;
}

.landing3 .col-second .sponsor {
  font-family: "Nunito", sans-serif;
  color: #d55342;
  font-weight: 700;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.landing3 .col-second .description {
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 46px;
  margin-bottom: 20px;
  color: #e3e2db;
  text-align: center;
  line-height: 1.1;
}

.landing3 .col-second .details {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  text-align: justify;
  color: #e3e2db;
}

/* For screens 992px and below */
@media (max-width: 992px) {
  .landing3 {
    height: auto;
  }

  .landing3 .container {
    flex-direction: column;
  }

  .landing3 .col-first,
  .landing3 .col-second {
    width: 100%;
    float: none;
  }

  .landing3 .col-first {
    position: relative;
    padding: 20px;
  }

  .landing3 .large-image {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }

  .landing3 .small-image {
    width: 80%;
    position: relative;
    bottom: 0;
    right: 0;
  }

  .landing3 .col-second {
    padding: 15px;
  }

  .landing3 .col-second .description {
    font-size: 30px;
  }

  .landing3 .col-second .details {
    font-size: 14px;
  }
}

/* For screens 768px and below */
@media (max-width: 768px) {
  .landing3 .col-second {
    padding: 20px;
  }

  .landing3 .large-image {
    width: 80%;
  }

  .landing3 .small-image {
    width: 70%;
  }

  .landing3 .col-second .description {
    font-size: 26px;
  }

  .landing3 .col-second .details {
    font-size: 12px;
  }
}

/* For screens 480px and below */
@media (max-width: 480px) {
  .landing3 .col-second .inner-container {
    max-width: 100%;
    padding: 10px;
  }

  .landing3 .col-first,
  .landing3 .col-second {
    width: 100%;
    padding: 10px;
  }

  .landing3 .large-image {
    width: 100%;
  }

  .landing3 .small-image {
    width: 60%;
  }

  .landing3 .col-second .description {
    font-size: 22px;
  }

  .landing3 .col-second .details {
    font-size: 10px;
  }
}

/* ------------------------------- landing page 4 ----------------------------------*/
.landing4 {
  width: 100%;
  height: 600px;
  margin: 35px 0;
  padding: 0;
  margin-bottom: 70px;
}

.section-container {
  max-width: 100%;
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.section-container .custom-box {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 600px;
  width: auto;
  position: relative;
  transition: transform 0.3s ease;
}

.col-md-6:nth-of-type(1) .custom-box {
  background-image: url('../images/volunteer.jpg');
}

.col-md-6:nth-of-type(2) .custom-box {
  background-image: url('../images/donate.jpg');
}

.section-container .custom-box:hover {
  transform: scale(1.02); 
}

.section-container .custom-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0); 
  transition: background 0.2s ease;
  z-index: 1;
}

.section-container .custom-box:hover::before {
  background: rgba(0, 0, 0, 0.5);
}

.section-container .custom-box h2,
.section-container .custom-box p,
.section-container .custom-box button {
  position: relative;
  z-index: 2;
  color: #000;
  transition: color 0.2s ease;
}

.section-container .custom-box:hover p {
  color: #e3e2db; 
}

.section-container .custom-line {
  width: 80px;
  height: 5px;
  background-color: #FF6347;
  margin: 0 auto 20px auto;
}

.section-container .custom-box h2 {
  font-family: 'Times New Roman', Times, serif !important;
  margin-top: 75px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #d55342;
}

.section-container .custom-box p {
  font-family: "Crimson Text", serif !important;
  font-size: 16px;
  font-weight: bold;
}

.section-container .custom-box button {
  margin-top: 20px;
  background-color: #f39c12; 
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.section-container .btn-custom:hover {
  background-color: #FF6347;
}

/* Media Query for Screens 992px and below */
@media (max-width: 992px) {
  .landing4 .container {
    padding: 0 15px;
  }

  .section-container .custom-box {
    min-height: 500px;
  }

  .col-md-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .section-container .custom-box h2 {
    font-size: 22px;
    margin-top: 50px;
  }

  .section-container .custom-box p {
    font-size: 14px;
  }

  .section-container .custom-box button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Media Query for Screens 768px and below */
@media (max-width: 768px) {
  .landing4 .container {
    padding: 0 10px;
    margin-bottom: 20px;
  }

  .section-container .custom-box {
    min-height: 400px;
  }

  .col-md-6 {
    width: 100%;
  }

  .section-container .custom-box h2 {
    font-size: 20px;
    margin-top: 40px;
  }

  .section-container .custom-box p {
    font-size: 12px;
  }

  .section-container .custom-box button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Media Query for Screens 480px and below */
@media (max-width: 480px) {
  .landing4 .container {
    padding: 0 5px;
    margin-bottom: 20px;
  }

  .section-container .custom-box {
    min-height: 350px;
  }

  .col-md-6 {
    width: 100%;
  }

  .section-container .custom-box h2 {
    font-size: 18px;
    margin-top: 30px;
  }

  .section-container .custom-box p {
    font-size: 12px;
  }

  .section-container .custom-box button {
    padding: 8px 16px;
    font-size: 12px;
  }
}

/*------------------------------------ testimonial -----------------------------------*/

section.testimonial-slider {
  width: 100%;
  background-color: #f5f5f5;
  min-height: 500px;
  margin: 35px 0;
  margin-bottom: 0;
  padding: 35px 0;
  padding-bottom: 0;
}

.testimonial-slider h2 {
  font-family: "Merriweather", serif;
  font-size: 38px;
  font-weight: 600;
  color: rgb(26, 62, 111);
  text-align: center;
  padding-bottom: 30px;
}

.slider-container {
  position: relative;
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 30px;
}

.slider-track-wrapper {
  overflow: hidden;
  width: 100%;
}

.testimonial-list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: transform 0.5s ease-in-out;
  min-height: 500px;
}

.testimonial-item {
  background: linear-gradient(to bottom, #3976bc, #6b5ede);
  color: white;
  border-radius: 20px;
  padding: 40px 32px;
  text-align: left;
  flex: 0 0 calc(28.333% - 20px);
  height: 400px;
  padding-bottom: 0;
}

.testimonial-item i {
  font-size: 60px;
  color: rgba(183, 180, 180, 0.5);
  padding-bottom: 20px;
}

.testimonial-item p {
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.testimonial-item h4 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.slider-btn {
  background-color: #444;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 80%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  z-index: 10;
  margin-top: 20px;
}

.slider-btn-left {
  left: 20px;
}

.slider-btn-right {
  right: 20px;
}

.slider-btn:hover {
  background-color: #666;
}

.slider-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.view-all-button {
  display: inline-block;
  padding: 10px 20px;
  background: transparent;
  color: #6b5ede;
  text-decoration: none;
  border: 2px solid #6b5ede;
  border-radius: 10px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.view-all-button:hover {
  background: #6b5ede;
  color: white;
}

/* For screens up to 992px (medium-sized tablets, smaller laptops) */
@media (max-width: 992px) {
  .testimonial-slider {
    padding: 25px 0;
  }

  .testimonial-slider h2 {
    font-size: 32px;
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .slider-container {
    max-width: 90%;
  }

  .testimonial-item {
    flex: 0 0 calc(33.333% - 20px);
    padding: 25px 20px;
    height: auto;
  }

  .slider-btn {
    bottom: -40px;
  }

  .view-all-button {
    font-size: 14px;
    margin-top: 20px;
  }
}

/* For screens up to 768px (tablets and smaller devices) */
@media (max-width: 768px) {
  .testimonial-slider {
    padding: 20px 0;
  }

  .testimonial-slider h2 {
    font-size: 28px;
    margin-top: 100px;
    margin-bottom: 10px;
  }

  .testimonial-list {
    margin-bottom: 20px;
    gap: 10px;
    margin-bottom: 20px;
  }

  .slider-container {
    max-width: 95%;
  }

  .testimonial-item {
    flex: 0 0 calc(50% - 20px);
    padding: 30px;
    height: auto;
    padding-bottom: 0;
  }

  .slider-btn {
    bottom: -40px;
  }

  .view-all-button {
    font-size: 14px;
    margin-top: 20px;
  }
}

/* For screens 480px and below (single item view) */
@media (max-width: 480px) {
  .testimonial-slider {
    padding: 20px 0;
  }

  .testimonial-list {
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    justify-content: center;
    margin-bottom: 20px;
  }

  .testimonial-item {
    flex: 0 0 100%;
    height: auto;
    padding: 30px;
    padding-bottom: 0;
    font-size: 18px;
  }

  .testimonial-slider h2 {
    font-size: 24px;
    padding-bottom: 10px;
    margin-top: 100px;
    margin-bottom: 10px;
  }

  .slider-btn-left,
  .slider-btn-right {
    bottom: -60px;
  }

  .slider-btn-left {
    left: 15px;
  }

  .slider-btn-right {
    right: 15px;
  }

  .slider-btn {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .view-all-button {
    font-size: 12px;
    padding: 6px 12px;
    margin-top: 20px;
  }
}

/* ------------------------------- what we do (about us) ------------------------------*/

.mission-wrapper {
  margin-top: 50px;
}

.mission-wrapper h2 {
  font-family: "Merriweather", serif;
  font-weight: 600;
  font-size: 70px;
  color: #d55342;
  text-align: center;
  padding: 20px 0;
}

.mission-col {
  width: 33%;
}

.mission-wrapper .mission-box {
  position: relative;
}

.mission-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.mission-wrapper .mission-box:hover .overlay {
  opacity: 1;
}

/* .about-section .col {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
  color: #333;
}

.about-section p {
  color: #666;
} */

/* .hero .btn-primary {
  background: #ffb700;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
}
.hero .btn-primary:hover {
  background: #e08d0c;
}

.btn-cta {
  background-color: #FF5722;
  border-color: #FF5722;
  color: white;
}

.btn-cta:hover {
  background-color: #FF9800;
  border-color: #FF9800;
} */


/* About Section */
/* .about {
padding: 3rem;
text-align: center;
background: linear-gradient(to bottom, #e3f2fd, #ffffff);
border-radius: 10px;
margin: 2rem auto;
max-width: 80%;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.about h2 {
font-size: 2.4rem;
color: #003366;
margin-bottom: 1rem;
text-transform: uppercase;
font-weight: 700;
}

.about p {
font-size: 1.2rem;
line-height: 1.8;
color: #333;
margin-bottom: 1.5rem;
} */

/* Button Styling */
/* .about .btn-secondary {
background: #0056b3;
color: #fff;
padding: 12px 25px;
text-decoration: none;
border-radius: 25px;
font-size: 1rem;
font-weight: 500;
transition: all 0.3s ease;
}

.about .btn-secondary:hover {
background: #003366;
color: #f1f1f1;
box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
} */

/* Programs Section */
/* .programs {
background: #f9f9f9;
padding: 3rem 0;
margin-top: 2rem;
}

.programs h2 {
text-align: center;
font-size: 2.2rem;
color: #003366;
margin-bottom: 2rem;
font-weight: 700;
}

.programs .container {
max-width: 1200px;
margin: auto;
text-align: center;
padding: 0 2rem;
}

.program-cards {
display: flex;
gap: 2rem;
justify-content: center;
flex-wrap: wrap;
}

.card {
background: #ffffff;
border: 1px solid #ddd;
border-radius: 10px;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
padding: 1.5rem;
max-width: 300px;
text-align: center;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
transform: translateY(-5px);
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.card h3 {
font-size: 1.6rem;
color: #0056b3;
margin-bottom: 1rem;
}

.card p {
font-size: 1rem;
color: #666;
line-height: 1.6;
} */


/* About Us Page */
/* .about-page, .mission, .vision {
  padding: 2rem 1rem;
  text-align: center;
}
.about-page h1, .mission h2, .vision h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}
.about-page p, .mission p, .vision p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
  margin-bottom: 1rem;
} */


/* Banner Section */
/* .donate-banner {
  background-image: url('img/hero4.jpeg');
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  text-align: center;
  color: #fff;
}
.donate-banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
} */

/* Donation Form */
/* .donation-form-section {
  padding: 40px 20px;
  background-color: #f9f9f9;
}
.donation-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.donation-form input,
.donation-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.donation-form .donate-btn {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
} */
/* Contact Section */
/* .contact-section {
  padding: 40px 20px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-info {
  text-align: center;
  margin-bottom: 20px;
}
.contact-info h2 {
  font-size: 2rem;
  color: #333;
}
.contact-info p {
  margin: 10px 0;
  font-size: 1rem;
  color: #555;
}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact-form .submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}
.contact-form .submit-btn:hover {
  background-color: #0056b3;
} */

/* Banner Section */
/* .contact-banner {
  background-image: url('../images/contactbanner.jpeg');
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  text-align: center;
  color: #fff;
}
.contact-banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
} */
/*-------------------- Events Section -----------------*/
/* .events-section {
  padding: 40px 20px;
  background-color: #f3f3f3;
}
.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}
.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.event-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.event-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.event-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #007bff;
}
.event-card p {
  font-size: 1rem;
  color: #555;
} */

/*------------------ Banner Section --------------*/
/* .events-banner {
  background-image: url('../images/eventbanner.jpg');
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  text-align: center;
  color: #fff;
}
.events-banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
} */
/*-------------- Gallery Section ----------------*/
/*.gallery-section {
  padding: 40px 20px;
  background-color: #f3f3f3;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}
.gallery-item:hover img {
  transform: scale(1.1);
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.gallery-item:hover .overlay {
  opacity: 1;
} */

/*-------------- Banner Section------------------ */
/*.gallery-banner {
  background-image: url('../images/gallerybanner.jpg');
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  text-align: center;
  color: #fff;
}
.gallery-banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
} */
/*---------------- Donors Section ------------- */
/* .donors-section {
  padding: 40px 20px;
  background-color: #f9f9f9;
}
.donor-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.donor-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.donor-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.donor-card h3 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #333;
}
.donor-card p {
  font-size: 1rem;
  color: #555;
} */

/* ----------- Banner Section --------------*/
/* .donors-banner {
  background-image: url('../images/donorsbanner.jpg');
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  text-align: center;
  color: #fff;
}
.donors-banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.social-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffcc00;
}

.social-icons i {
  display: inline-block;
} */
