{% extends "layout.html" %}

{% block title %}
- About us
{% endblock %}

{% block content %}
<section class="about">
    <h2>About Us</h2>
    <p><strong>Suvidha Mahila Mandal</strong>, established on <strong>September 8, 1995</strong>, is a non-profit organization working to impart education among the financially challenged sections to help them realize parity in education and the strength of little minds in building a promising future.</p>
    <p>The organization has provisions for <strong>student internships, mentorship programs, and volunteering opportunities</strong>. Through these initiatives, Suvidha Foundation aims to achieve the vision of imparting innovative education that stays with students forever and equips them for the unforeseen future.</p>
</section>

<section class="mission">
    <h2>Our Mission</h2>
    <p>To inspire students, help them innovate, and let them integrate to build the next generation humankind.</p>
    <p>To run food donation and awareness campaigns in rural regions.</p>
</section>

<section class="vision">
    <h2>Our Vision</h2>
    <p>To build the next generation of entrepreneurs by providing them with skill-based education.</p>
    <p>To provide internships, training, workshops, and quality education all over the world.</p>
</section>

<section class="mission-wrapper">
    <h2>
      What We Do.
    </h2>
    <div class="container mission-container">
      <div class="row mission-row">
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>Donates nutritious food</p>
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class=" mission-box">
            <p>Provides accessible healthcare services</p>
            <img src="{{ url_for('static', filename='images/image2.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>Offers Primary education</p>
            <img src="{{ url_for('static', filename='images/education.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
      </div>
      <div class="row mission-row">
        <div class="col-md-4 mission-col">
          <div class="box  mission-box">
            <p>Promotes Social awareness</p>
            <img src="{{ url_for('static', filename='images/image3.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>Conducts Tree plantation drives</p>
            <img src="{{ url_for('static', filename='images/hug.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>Delivers Social care services</p>
            <img src="{{ url_for('static', filename='images/healthcare.jpeg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
