{% extends "layout.html" %}

{% block title %}
- About us
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutStyles.css') }}">
{% endblock %}

{% block content %}
<header>
  <div class="parallax">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
</header>

<div class="about-welcome">
  <h1>Welcome to Suvidha</h1>
  <img id="changingImage" src="{{ url_for('static', filename='images/socialwork.jpg') }}" alt="" class="social-work">
  <button id="changeButton" class="changeButton">&#10095;</button>
</div>

<section class="mission-wrapper">
    <div class="what-we-do">
      <h2>What We Do.</h2>
      <p>Suvidha provides assistance to people and communities in need and empowers them to become sustainable, independent and proud. How and where we contribute is based on the cultural challenges and strengths of a community as defined by its most precious resource-the people. We use your support to build schools, provide educational materials, create sustainable food programs and provide hope.</p>
    </div>
    <div class="container mission-container">
      <div class="row mission-row">
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>We nourish</p>
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class=" mission-box">
            <p>We assist</p>
            <img src="{{ url_for('static', filename='images/image2.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>We educate</p>
            <img src="{{ url_for('static', filename='images/education.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
      </div>
      <div class="row mission-row">
        <div class="col-md-4 mission-col">
          <div class="box  mission-box">
            <p>We build</p>
            <img src="{{ url_for('static', filename='images/image3.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>Conducts Tree plantation drives</p>
            <img src="{{ url_for('static', filename='images/dense-forest.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>Delivers Social care services</p>
            <img src="{{ url_for('static', filename='images/healthcare.jpeg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
      </div>
    </div>
</section>

<!-- our team -->
<section class="team-wrapper">
  <h2 class="team-heading">Our Team.</h2>
  <div class="person">
    <div class="container">
      <div class="container-inner">
        <!-- <img src="{{ url_for('static', filename='images/circle1.jpg') }}" alt="" class="circle"> -->
        <img src="{{ url_for('static', filename='images/Shobha_Motghare.jpeg') }}" alt="" class="img img1">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Shobha Motghare</div>
    <div class="title">Secretary</div>
  </div>

  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img src="{{ url_for('static', filename='images/Payal_Badhe.jpg') }}" alt="" class="img img2">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Payal Badhe</div>
    <div class="title">President</div>
  </div>

  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img src="{{ url_for('static', filename='images/Bharti_Shendre.jpg') }}" alt="" class="img img3">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Bharti Shendre</div>
    <div class="title">Treasurer</div>
  </div>

  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img src="{{ url_for('static', filename='images/Nilima_Kalambe.jpg') }}" alt="" class="img img4">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Nilima Kalambe</div>
    <div class="title">Advisor</div>
  </div>
</section>

<script>
  window.addEventListener('scroll', function() {
    const parallax = document.querySelector('.parallax');
    let offset = window.pageYOffset;
    parallax.style.backgroundPositionY = `-${offset * 0.5}px`;
});


const images = {{ images|tojson }};
let currentIndex = 0;

function changeImage() {
    currentIndex = (currentIndex + 1) % images.length;
    document.getElementById("changingImage").src = images[currentIndex];
}

document.getElementById("changeButton").onclick = changeImage;
setInterval(changeImage, 3000);
</script>

<script>
  
</script>
{% endblock %}
