{% extends "layout.html" %}

{% block title %}
- About us
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutStyles.css') }}">
{% endblock %}

{% block content %}
<header>
  <div class="parallax">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
</header>

<!--------------------------- about ngo ---------------------------------->
<div class="about-welcome">
  <h1>Welcome to Suvidha</h1>
  <div class="image-wrapper">
    <img id="changingImage" src="{{ url_for('static', filename='images/socialwork.jpg') }}" alt="" class="social-work">
    <button id="toggleButton" class="changeButton">&#10095;</button>
  </div>
</div>

<section class="about-suvidha">
  <div class="container">
    <div class="about-content">
      <p class="about-description">
        Since its inception on September 8, 1995, Suvidha Mahila Mandal, now known as Suvidha Foundation, has been a beacon of hope, dedicated to illuminating the lives of the underprivileged through education. <strong> Our mission is to ensure parity in education, fostering the strength of young minds to build a promising future.</strong>
      </p>
      <div class="mission-vision">
        <div class="mission">
          <h3>Mission</h3>
          <ul>
            <li><strong>Imparting Education:</strong> Bridging the educational divide by offering quality education to financially challenged children</li>
            <li><strong>Empowering Communities:</strong> Enhancing lives through social awareness, healthcare, and vocational training</li>
            <li><strong>Building a Sustainable Future:</strong> Promoting environmental consciousness with initiatives like tree plantation drives</li>
          </ul>
        </div>
        <div class="vision">
          <h3>Vision</h3>
          <p>We envision a world where everyone has access to equal opportunities, quality education, and a sustainable, healthy environment.</p>
        </div>
      </div>
      <div class="impact-stats">
        <div class="stat">
          <div class="icon-circle globe"><i class="fas fa-globe"></i></div>
          <h3>Countries</h3>
          <p>15+ Served</p>
        </div>
        <div class="stat">
          <div class="icon-circle handshake"><i class="fas fa-handshake"></i></div>
          <h3>Volunteers</h3>
          <p>3Lakh+</p>
        </div>
        <div class="stat">
          <div class="icon-circle leaf"><i class="fas fa-leaf"></i></div>
          <h3>Trees</h3>
          <p>54Lakh+ Planted</p>
        </div>
        <div class="stat">
          <div class="icon-circle graduation-cap"><i class="fas fa-graduation-cap"></i></div>
          <h3>Internships</h3>
          <p>1Cr+ Goal</p>
        </div>
      </div>
      <div class="engagement">
        <p class="engagement-intro">Join us in our journey through:</p>
        <ul class="engagement-list">
          <li><strong>Student Internships:</strong> For hands-on learning experiences</li>
          <li><strong>Student Mentorship:</strong> To guide and inspire</li>
          <li><strong>Volunteering:</strong> To make a direct impact on our projects</li>
        </ul>
      </div>
      <a href="/contact" class="learn-more">Learn More about our Work</a>
    </div>
  </div>
</section>

<!---------------------------- what we do ---------------------------->

<section class="mission-wrapper">
    <div class="what-we-do">
      <h2>What We Do.</h2>
      <p>Suvidha provides assistance to people and communities in need and empowers them to become sustainable, independent and proud. How and where we contribute is based on the cultural challenges and strengths of a community as defined by its most precious resource-the people. We use your support to build schools, provide educational materials, create sustainable food programs and provide hope.</p>
    </div>
    <div class="container mission-container">
      <div class="row mission-row">
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>We nourish</p>
            <img src="{{ url_for('static', filename='images/image1.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class=" mission-box">
            <p>We assist</p>
            <img src="{{ url_for('static', filename='images/image2.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>We educate</p>
            <img src="{{ url_for('static', filename='images/education.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
      </div>
      <div class="row mission-row">
        <div class="col-md-4 mission-col">
          <div class="box  mission-box">
            <p>We build</p>
            <img src="{{ url_for('static', filename='images/image3.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>Conducts Tree plantation drives</p>
            <img src="{{ url_for('static', filename='images/dense-forest.jpg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
        <div class="col-md-4 mission-col">
          <div class="box mission-box">
            <p>Delivers Social care services</p>
            <img src="{{ url_for('static', filename='images/healthcare.jpeg') }}" alt="" class="img-fluid overlay">
          </div>
        </div>
      </div>
    </div>
</section>

<!---------------------------- our team ---------------------------------->

<section class="team-wrapper">
  <h2 class="team-heading">Our Team.</h2>
  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img src="{{ url_for('static', filename='images/Shobha_Motghare.jpeg') }}" alt="" class="img img1">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Shobha Motghare</div>
    <div class="title">Secretary</div>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/shobha-motghare-0a6a57238/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>

  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img src="{{ url_for('static', filename='images/Payal_Badhe.jpg') }}" alt="" class="img img2">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Payal Badhe</div>
    <div class="title">President</div>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/payal-badhe-531756aa/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>

  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img src="{{ url_for('static', filename='images/Bharti_Shendre.jpg') }}" alt="" class="img img3">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Bharti Shendre</div>
    <div class="title">Treasurer</div>
  </div>

  <div class="person">
    <div class="container">
      <div class="container-inner">
        <img src="{{ url_for('static', filename='images/Nilima_Kalambe.jpg') }}" alt="" class="img img4">
      </div>
    </div>
    <div class="divider"></div>
    <div class="name">Nilima Kalambe</div>
    <div class="title">Advisor</div>
  </div>
</section>

<!-- script for banner parallax and changing image -->
<script>
  window.addEventListener('scroll', function() {
    const parallax = document.querySelector('.parallax');
    let offset = window.pageYOffset;
    parallax.style.backgroundPositionY = `-${offset * 0.5}px`;
});


const images = {{ images|tojson }};
let currentIndex = 0;
let intervalId;

function changeImage() {
    currentIndex = (currentIndex + 1) % images.length;
    document.getElementById("changingImage").src = images[currentIndex];
}

function toggleAnimation() {
  const button = document.getElementById("toggleButton");
  if (button.textContent === "❯") {
      // Animation is running, stop it
      clearInterval(intervalId);
      button.textContent = "▶";
  } else {
      // Animation is stopped, start it
      intervalId = setInterval(changeImage, 3000);
      button.textContent = "❯";
      changeImage();
  }
}

document.getElementById("toggleButton").onclick = toggleAnimation;
intervalId = setInterval(changeImage, 3000);
</script>

<script>
  
</script>
{% endblock %}
